
.container {
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: white;
	padding: 6%;
	border-radius: 2%;

}

.modal {
	height: 10%;
	width: 40%;
	border-radius: 2%;

}

.alert{
	color: red;
	font-size: 1.2em;
}

body {
	background-color: #d3dbdb;

}

.is-danger{
	color: red;
}

.form-group .fa {
  position: absolute;
  right: 15px;
  top: 17px;
  color: #999;
}