
.container {
	margin-top: 5%;
	margin-bottom: 5%;
	background-color: white;
	padding: 6%;
	border-radius: 2%;

}

.modal{
	height: 27%;
	width: 40%;
	border-radius: 2%;

}

.alert{
	color: red;
	font-size: 1.2em;
}

body {
	background-color: rgba(245,145,29,0.7);

}

.is-danger{
	color: red;
}

.form-group .fa {
  position: absolute;
  right: 15px;
  top: 17px;
  color: #999;
}