<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
		<link rel="stylesheet" type="text/css" href="/stylesheets/procarianos/procarianosStyles.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/procarianos/ingresarProcarianoStyles.css">
	</head>
	<body>
		<div>
			<header>
				<% include ../partials/navbar %>
			</header>
			<main class="container" id="main">
				<div class="row" id="row-form">
					<h2 class="center-align titulo">Ingresar procariano</h2>
					<form class="col s12">
						<!--Row nombres y apellidos-->
						<section class="row row-nombres-apellidos">
							<div class="col s6">
								<label for="nombres">Nombres</label>
								<input type="text" name="nombres" id="nombres" v-model="procariano.nombres" v-validate="'required|alpha_spaces'">
								<span v-show="errors.has('nombres')" class="help is-danger">{{ errors.first('nombres') }}</span>
							</div>
							<div class="col s6">
								<label for="apellidos">Apellidos</label>
								<input type="text" name="apellidos" id="apellidos" v-model="procariano.apellidos" v-validate="'required|alpha_spaces'">
								<span v-show="errors.has('apellidos')" class="help is-danger">{{ errors.first('apellidos') }}</span>
							</div>
						</section>
						<!--Row cedula y fecha nacimiento-->
						<section class="row row-cedula-fecha">
							<div class="col s6">
								<label for="fecha-nacimiento">Fecha de nacimiento</label>
								<input type="date" name="fecha-nacimiento" id="fecha-nacimiento" class="datepicker" v-model="procariano.fechaNacimiento" v-validate="'required'">
								<span v-show="errors.has('fecha-nacimiento')" class="help is-danger">{{ errors.first('fecha-nacimiento') }}</span>
								<span v-if="fechaIncorrecta" id="errorFecha">No puede ingresar a alguien con menos de 11 años.</span>
							</div>
							<div class="col s6">
								<label for="cedula">Cédula</label>
								<input type="text" name="cedula" id="cedula" v-model="procariano.cedula" v-validate="'required|digits:10'">
								<span v-show="errors.has('cedula')" class="help is-danger">{{ errors.first('cedula') }}</span>
							</div>
						</section>
						<!--Row direccion y email-->
						<section class="row row-direccion-email">
							<div class="col s6">
								<label for="direccion">Dirección</label>
								<input type="text" name="direccion" id="direccion" v-model="procariano.direccion" v-validate="'required|regex:^([A-Za-z0-9# .\-]+)$'">
								<span v-show="errors.has('direccion')" class="help is-danger">{{ errors.first('direccion') }}</span>
							</div>
							<div class="col s6">
								<label for="email">Email</label>
								<input type="email" name="email" id="email" v-model="procariano.email" v-validate="'required|email'" :class="{'input': true, 'is-danger': errors.has('email') }">
								<span v-show="errors.has('email')" class="help is-danger">{{ errors.first('email') }}</span>
							</div>
						</section>
						<!--Row celular y convencional-->
						<section class="row row-celular-convencional">
							<div class="col s6">
								<label for="celular">Celular</label>
								<input type="tel" name="celular" id="celular" v-model="procariano.celular" v-validate="'numeric'">
								<span v-show="errors.has('celular')" class="help is-danger">{{ errors.first('celular') }}</span>
							</div>
							<div class="col s6">
								<label for="convencional">Convencional</label>
								<input type="tel" name="convencional" id="convencional" v-model="procariano.convencional" v-validate="'numeric'">
								<span v-show="errors.has('convencional')" class="help is-danger">{{ errors.first('convencional') }}</span>
							</div>
						</section>
						<!--Row genero y tipo-->
						<section class="row row-genero-tipo">
							<div class="col s6">
								<label for="selectGenero">Género</label>
								<v-select id="selectGenero" name="selectGenero" v-model="procariano.genero" select-text="">
									<option value="masculino">Masculino</option>
									<option value="femenino">Femenino</option>
								</v-select>
							</div>
							<div class="col s6">
								<label for="selectTipo">Tipo</label>
								<v-select id="selectTipo" name="selectTipo" v-model="procariano.tipo" select-text="" :items="tipos"></v-select>
							</div>
						</section>
						<!--Chico formacion-->
						<section class="row row-chico-formacion" v-show="procariano.tipo=='1'">
							<div class="col s6">
								<label for="colegio">Colegio</label>
								<input type="text" name="colegio" id="colegio" v-model="procariano.colegio" v-validate="'regex:^([A-Za-z0-9# .\-]+)$'">
								<span v-show="errors.has('colegio')" class="help is-danger">{{ errors.first('colegio') }}</span>
							</div>
							<div class="col s6" id="div-select-grupo-formacion">
								<label class="active" for="selectGrupoFormacion">Grupo de Formación</label>
								<v-select id="selectGrupoFormacion" name="selectGrupoFormacion" v-model="grupoFormacionSel" select-text="" :items="gruposFormacion">
								</v-select>
							</div>
						</section>
						<!--Caminante-->
						<section class="row row-caminante" v-show="procariano.tipo=='2'">
							<div class="col s6">
								<label for="colegio">Colegio</label>
								<input type="text" name="colegio" id="colegio" v-model="procariano.colegio" v-validate="'regex:^([A-Za-z0-9# .\-]+)$'">
								<span v-show="errors.has('colegio')" class="help is-danger">{{ errors.first('colegio') }}</span>
							</div>
							<div class="col s6">
								<label for="universidad">Universidad</label>
								<input type="text" name="universidad" id="universidad" v-model="procariano.universidad" v-validate="'regex:^([A-Za-z0-9# .\-]+)$'">
								<span v-show="errors.has('universidad')" class="help is-danger">{{ errors.first('universidad') }}</span>
							</div>
							<div class="col s6">
								<label for="trabajo">Trabajo</label>
								<input type="text" name="trabajo" id="trabajo" v-model="procariano.trabajo" v-validate="'regex:^([A-Za-z0-9# .\-]+)$'">
								<span v-show="errors.has('trabajo')" class="help is-danger">{{ errors.first('trabajo') }}</span>
							</div>
							<div class="col s6" id="div-select-grupo-caminantes">
								<label class="active" for="selectGrupoCaminantes">Grupo de caminantes</label>
								<v-select id="selectGrupoCaminantes" name="selectGrupoCaminantes" v-model="grupoCaminantesSel" select-text="" :items="gruposCaminantes">
								</v-select>
							</div>
						</section>
						<!--Pescador-->
						<section class="row row-pescador" v-show="procariano.tipo=='3'||procariano.tipo==='4'">
							<div class="col s6">
								<label for="colegio">Colegio</label>
								<input type="text" name="colegio" id="colegio" v-model="procariano.colegio" v-validate="'regex:^([A-Za-z0-9# .\-]+)$'">
								<span v-show="errors.has('colegio')" class="help is-danger">{{ errors.first('colegio') }}</span>
							</div>
							<div class="col s6">
								<label for="universidad">Universidad</label>
								<input type="text" name="universidad" id="universidad" v-model="procariano.universidad" v-validate="'regex:^([A-Za-z0-9# .\-]+)$'">
								<span v-show="errors.has('universidad')" class="help is-danger">{{ errors.first('universidad') }}</span>
							</div>
							<div class="col s6">
								<label for="trabajo">Trabajo</label>
								<input type="text" name="trabajo" id="trabajo" v-model="procariano.trabajo" v-validate="'regex:^([A-Za-z0-9# .\-]+)$'">
								<span v-show="errors.has('trabajo')" class="help is-danger">{{ errors.first('trabajo') }}</span>
							</div>
							<div class="col s6" id="div-select-grupo-pescadores">
								<label class="active">Grupo de pescadores</label>
								<v-select id="selectGrupoPescadores" name="selectGrupoPescadores" v-model="grupoPescadoresSel" select-text="" :items="gruposPescadores">
								</v-select>
							</div>
						</section>
						<!--Sacerdote-->
						<section class="row row-sacerdote" v-show="procariano.tipo=='5'">
							<div class="col s6">
								<label for="parroquia">Parroquia</label>
								<input type="text" name="parroquia" id="parroquia" v-model="procariano.parroquia" v-validate="'regex:^([A-Za-z0-9# .\-]+)$'">
								<span v-show="errors.has('parroquia')" class="help is-danger">{{ errors.first('parroquia') }}</span>
							</div>
							<div class="col s6">
								<label for="fecha-ordenacion">Fecha de ordenación</label>
								<input type="date" name="fecha-ordenacion" id="fecha-ordenacion" class="datepicker" v-model="procariano.fechaOrdenacion">
							</div>
						</section>
						<!--Botones-->
						<div class="row row-botones">
							<a class="btn waves-effect waves-light btn-cancelar" type="button" name="action" @click="cancelar">Cancelar<a>
							<a class="btn waves-effect waves-light pull right" type="submit" name="action" @click="validateBeforeSubmit">Crear<a>
						</div>
					</form>
				</div>
				<section>
					<!-- Modal Structure -->
				  <div id="modalProcarianoCreado" class="modal">
				    <div class="modal-content">
				      <p class="center-align modal-text">Procariano creado correctamente.</p>
				    </div>
				    <div class="modal-footer">
				      <a href="/procarianos/" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
				    </div>
				  </div>
					<!-- Modal Structure -->
				  <div id="modalError" class="modal">
				    <div class="modal-content">
				      <h4 class="center-align">Formulario con errores.</h4>
				      <p class="center-align">Existe un error del campo: "{{errorObj.campo}}"</p>
				      <p class="center-align">Con el siguiente mensaje de error: </p>
				      <p class="center-align">"{{errorObj.msj}}"</p>
				    </div>
				    <div class="modal-footer">
				      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
				    </div>
				  </div>
				  <!-- Modal Structure -->
				  <div id="modalErrorAjax" class="modal">
				    <div class="modal-content">
				      <h4 class="center-align">{{errorAjax.titulo}}.</h4>
				      <p class="center-align">"{{errorAjax.descripcion}}"</p>
				    </div>
				    <div class="modal-footer">
				      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
				    </div>
				  </div>
				</section>
			</main>
		</div>
	</body>
	<div>
		<% include ../partials/scripts %>
		<script src="/scripts/vee-validate/dist/vee-validate.min.js"></script>
		<script src="/build/procariano/ingresarProcarianoScript.min.js"></script>
	</div>
</html>