<!DOCTYPE html>
<html>
	<head>
		<title>Procare</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--Materializecs-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/procarianos/procarianosStyles.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/procarianos/verProcarianoStyles.css">
	</head>
	<body>
		<header>
			<nav>
				<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
				<a href="" class="brand-logo">Procare</a>
				<ul id="slide-out" class="side-nav">
			    <li>
			    	<div class="userView">
				      
				    </div>
			    </li>
			    <li class="no-padding">
			    	<ul class="collapsible collapsible-accordion">
			    		<li>
			    			<a class="collapsible-header waves-effect waves-teal">Procare Formación<i class="material-icons right">arrow_drop_down</i></a>
			    			<div class="collapsible-body">
			            <ul id="ulProcareFormacion">
			            </ul>
			          </div>
			    		</li>
			    	</ul>
			    </li>
			    <li class="no-padding">
			    	<ul class="collapsible collapsible-accordion">
			    		<li>
			    			<a class="collapsible-header waves-effect waves-teal">Procare Acción<i class="material-icons right">arrow_drop_down</i></a>
			    			<div class="collapsible-body">
			            <ul id="ulProcareAccion">
			            </ul>
			          </div>
			    		</li>
			    	</ul>
			    </li>
			    <li><a href="#">Salir</a></li>
			  </ul>
			</nav>
		</header>
		<main>
			<div class="container" id="app">
				<!--Row ver procariano-->
				<div class="row rowVer" id="rowVer">
					<div class="col s12">
						<div class="card">
							<div class="card-content">
								<div class="row rowVer" id="rowVerImagen">
									<div class="col s12 center-align" id="verImagen">
										<img class="responsive-img circle" src="http://placehold.it/350x150">
									</div>
									<p class="center-align">Estado: {{procariano.estado}}</p>
								</div>
								<!--Nombres-->
								<div class="row rowVer" id="rowVerNombres">
									<div class="col s6" id="verNombre">
										<label>Nombres</label>
										<p>{{procariano.nombres}}</p>
									</div>
									<div class="col s6" id="verApellido">
										<label>Apellidos</label>
										<p>{{procariano.apellidos}}</p>
									</div>
								</div>
								<!--Cedula-fecha-->
								<div class="row rowVer" id="rowVerCedulaFecha">
									<div class="col s6" id="verCedula">
										<label>Cédula</label>
										<p>{{procariano.cedula}}</p>
									</div>
									<div class="col s6" id="verFecha">
										<label>Fecha de nacimiento</label>
										<p>{{procariano.fechaNacimiento}}</p>
									</div>
								</div>
								<!--Direccion-email-->
								<div class="row rowVer" id="rowVerDireccionEmail">
									<div class="col s6" id="verDireccion">
										<label>Dirección</label>
										<p>{{procariano.direccion}}</p>
									</div>
									<div class="col s6" id="verEmail">
										<label>Email</label>
										<p>{{procariano.email}}</p>
									</div>
								</div>
								<!--Celular-convencional-->
								<div class="row rowVer" id="rowVerTelefonos">
									<div class="col s6" id="verConvencional">
										<label>Convencional</label>
										<p>{{procariano.convencional}}</p>
									</div>
									<div class="col s6" id="verCelular">
										<label>Celular</label>
										<p>{{procariano.celular}}</p>
									</div>
								</div>
								<!--Tipo-grupo-->
								<div class="row rowVer" id="rowVerTipoGrupo">
									<div class="col s6" id="verTipo">
										<label>Tipo</label>
										<p>{{procariano.tipo}}</p>
									</div>
									<div class="col s6" id="verGrupo">
										<label>Grupo</label>
										<p>{{procariano.grupo}}</p>
									</div>
								</div>
								<!--Colegio-Universidad-->
								<div class="row rowVer" id="rowVerEducacion">
									<div class="col s6" id="verColegio">
										<label>Colegio</label>
										<p>{{procariano.colegio}}</p>
									</div>
									<div class="col s6" id="verUniversidad">
										<label>Universidad</label>
										<p>{{procariano.universidad}}</p>
									</div>
								</div>
								<!--Botones-->
								<div class="row row-botones">
									<a class="btn waves-effect waves-light btn-cancelar" type="button" name="action" @click="eliminar">Eliminar<a>
									<a class="btn waves-effect waves-light pull right" type="submit" name="action">Editar<a>
								</div>
							</div><!--End card content-->
						</div><!--End card-->
					</div>
				</div>
				<!--End row ver procariano-->
			</div>
		</main>
		<footer>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<!-- Compiled and minified JavaScript -->
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
			<script src='https://unpkg.com/vue@2.3.3'></script>
			<script src="/js/procariano/verProcarianoScript.js"></script>
		</footer>
	</body>
</html>