<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
		<link rel="stylesheet" type="text/css" href="/stylesheets/procarianos/procarianosStyles.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/procarianos/verProcarianoStyles.css">
	</head>
	<body>
		<div >
			<header>
				<% include ../partials/navbar %>
			</header>
			<main class="container" id="app">
				<!--Row ver procariano-->
				<section class="row rowVer" id="rowVer" v-if="!habilitaredicion && dataFinishedLoading">
					<header>
						<h4 class="center-align">Perfil</h4>
					</header>
					<div class="col s12">
						<div class="card">
							<div class="card-content">
								<!--Nombres-->
								<section class="row rowVer" id="rowVerNombres">
									<article class="col s6" id="verNombre">
										<label>Nombres</label>
										<p>{{procariano.nombres}}</p>
									</article>
									<article class="col s6" id="verApellido">
										<label>Apellidos</label>
										<p>{{procariano.apellidos}}</p>
									</article>
								</section>
								<!--Cedula-fecha-->
								<section class="row rowVer" id="rowVerCedulaFecha">
									<article class="col s6" id="verCedula">
										<label>Cédula</label>
										<p>{{procariano.cedula}}</p>
									</article>
									<article class="col s6" id="verFecha">
										<label>Fecha de nacimiento</label>
										<p>{{date(fechaNacimiento)}}</p>
									</article>
								</section>
								<!--Direccion-email-->
								<section class="row rowVer" id="rowVerDireccionEmail">
									<article class="col s6" id="verDireccion">
										<label>Dirección</label>
										<p>{{procariano.direccion}}</p>
									</article>
									<article class="col s6" id="verEmail">
										<label>Email</label>
										<p>{{procariano.email}}</p>
									</article>
								</section>
								<!--Celular-convencional-->
								<section class="row rowVer" id="rowVerTelefonos">
									<article class="col s6" id="verConvencional">
										<label>Convencional</label>
										<p v-if="procariano.convencional">{{procariano.convencional}}</p>
										<p v-else>---</p>
									</article>
									<article class="col s6" id="verCelular">
										<label>Celular</label>
										<p v-if="procariano.celular">{{procariano.celular}}</p>
										<p v-else>---</p>
									</article>
								</section>
								<!--Tipo-grupo-->
								<section class="row rowVer" id="rowVerTipoGrupo">
									<article class="col s6" id="verTipo">
										<label>Tipo</label>
										<p>{{tipoprocariano.text}}</p>
									</article>
									<article class="col s6" id="verGrupo">
										<label>Grupo</label>
										<p>{{grupoprocariano.text}}</p>
									</article>
								</section>
								<!--Coelgio-Universidad-->
								<section class="row rowVer" id="rowVerEducacion">
									<article class="col s6" id="verColegio">
										<label>Colegio</label>
										<p v-if="procariano.colegio">{{procariano.colegio}}</p>
										<p v-else>---</p>
									</article>
									<article class="col s6" id="verUniversidad">
										<label>Universidad</label>
										<p v-if="procariano.universidad">{{procariano.universidad}}</p>
										<p v-else>---</p>
									</article>
								</section>
								<!--Trabajo-->
								<section class="row rowVer" id="rowVerTrabajo">
									<article class="col s12" id="verTrabajo">
										<label>Trabajo</label>
										<p v-if="procariano.trabajo">{{procariano.trabajo}}</p>
										<p v-else>---</p>
									</article>
								</section>
								<!--Botones-->
								<div class="row row-botones" v-if="procariano.estado!=='inactivo'">
									<a class="btn waves-effect waves-light btn-cancelar modal-trigger" type="button" name="action" href="#modalConfirmarEliminar">Eliminar</a>
									<a :href="'/procarianos/perfil/' + idProcariano + '/editar'" class="btn waves-effect waves-light pull right" type="submit" name="action" >Editar</a>
								</div>
							</div><!--End card content-->
						</div><!--End card-->
					</div>
				</section>
				<!--End row ver procariano-->
				<!-- Modal Structure -->
			  <div id="modalErrorEliminar" class="modal">
			    <div class="modal-content">
			      <h4 class="center-align">¡Error!</h4>
			      <p class="center-align">Ocurrió un error al tratar de eliminar. Intente nuevamente.</p>
			    </div>
			    <div class="modal-footer">
			      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
			    </div>
			  </div>
			  <!-- Modal Structure -->
			  <div id="modalConfirmarEliminar" class="modal">
			    <div class="modal-content">
			      <p class="center-align">¿Está seguro de que desea eliminar a este procariano de la base de datos?</p>
			    </div>
			    <div class="modal-footer">
			      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
			      <a href="#!" class="right-align modal-action modal-close waves-effect waves-green btn-flat" @click="eliminar">Sí</a>
			    </div>
			  </div>
			  <!-- Modal Structure -->
			  <div id="modalExitoEliminar" class="modal">
			    <div class="modal-content">
			      <p class="center-align">Procariano eliminado correctamente.</p>
			    </div>
			    <div class="modal-footer">
			      <a href="/procarianos/" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
			    </div>
			  </div>
			</main>
		</div>
	</body>
	<div>
		<% include ../partials/scripts %>
		<script src="https://cdn.jsdelivr.net/vee-validate/2.0.0-rc.3/vee-validate.min.js"></script>
		<script src="/scripts/moment/moment.js"></script>
		<script src="/scripts/moment/locale/es.js"></script>
		<script src="/build/procariano/verProcarianoScript.min.js"></script>
	</div>
</html>