<!DOCTYPE html>
<html>
	<head>
    <title>Procare</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--Materializecss-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Compiled and minified CSS -->
 		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/login/cambioContrasenna.css">

	</head>
	<body>
		<div class="container">
			<header>
				<div class="row">
					<div class="col s3 m3">
						<img src="images/nuevo_logo_procare.jpg" class="responsive-img" alt="logo procare">
					</div>
					<div class="col s6 m6">
						<h4><b>Cambiar contrase単a</b></h4>
					</div>
				</div>
			</header>
			<section>
				 <div class="row">
			    <form class="col s12">
			      <div class="row">
			        <div class="input-field col s12">
			          <i class="material-icons prefix">account_circle</i>
			          <input id="correo" type="password" class="validate">
			          <label for="correo">Ingrese correo</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			          <i class="material-icons prefix">lock</i>
			          <input id="contrasennaVieja" type="password" class="validate">
			          <label for="contrasennaVieja">Ingrese su vieja contrase単a</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			          <i class="material-icons prefix">lock</i>
			          <input id="nuevaContrasenna" type="password" class="validate">
			          <label for="nuevaContrasenna">Ingrese su nueva contrase単a</label>
			        </div>
			      </div>
			      <div class="row">
			        <div class="input-field col s12">
			          <i class="material-icons prefix">lock</i>
			          <input id="nuevaContrasenna2" type="password" class="validate">
			          <label for="nuevaContrasenna2">Ingrese su nueva contrase単a</label>
			        </div>
			      </div>
			      <div class="row">
			      	<div class="col s4 offset-s2">
			      		<a class="waves-effect waves-light btn"><i class="material-icons left">done</i>Aceptar</a>
			      	</div>
			      	<div class="col s4">
			      		<a class="waves-effect waves-light btn"><i class="material-icons left">not_interested</i>Cancelar</a>
			      	</div>
			      </div>
			    </form>
			  </div>
			</section>
		</div>
		<div class="scriptZone">
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<!-- Compiled and minified JavaScript -->
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
			<script src='https://unpkg.com/vue@2.3.3'></script>

	</body>

</html>