<!DOCTYPE html>
<html>
	<head>
   	<% include partials/head %>
		<link rel="stylesheet" type="text/css" href="/stylesheets/login/cambioContrasenna.css">
	</head>
	<body>
			<header>
				<% include ./partials/navbar %>
			</header>
			<main class="container row" id="app-cambioContrasenna">
				<section class="col s12">
					<main class="card">
						<header class="card-content">
							<h4><b>Cambiar contraseña</b></h4>
						</header>
						<main class="card-content row">
							<form class="col s12">
					      <section class="row">
					        <article class="input-field col s12 form-group">
					          <i class="fa fa-user"></i>
					          <input id="correo" type="text" name="correo" class="validate" v-model="correo" v-validate="'required|email'">
					          <span v-show="errors.has('correo')" class="help is-danger">{{ errors.first('correo') }}</span>
					          <label for="correo">Ingrese correo</label>
					        </article>
					      </section>
					      <section class="row">
					        <article class="input-field col s12 form-group">
					          <i class="fa fa-lock"></i>
					          <input id="viejaContrasenna" name="viejaContrasenna" type="password" class="validate" v-model="viejaContrasenna" v-validate="'required'">
					          <span v-show="errors.has('viejaContrasenna')" class="help is-danger">{{ errors.first('viejaContrasenna') }}</span>
					          <label for="viejaContrasenna">Ingrese su vieja contraseña</label>
					        </article>
					      </section>
					      <section class="row">
					        <article class="input-field col s12 form-group">
					          <i class="fa fa-lock"></i>
					          <input id="nuevaContrasenna" name="nuevaContrasenna" type="password" class="validate" v-model="nuevaContrasenna" v-validate="{ rules: { regex: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/ , required: true} }"> <!-- minimo un caracter lower, un caracter upper, y un digito, minimo 8 caracteresen total) -->
					          <span v-show="errors.has('nuevaContrasenna')" class="help is-danger">{{ errors.first('nuevaContrasenna') }}</span>
					          <label for="nuevaContrasenna">Ingrese su nueva contraseña</label>
					        </article>
					      </section>
					      <section class="row">
					        <article class="input-field col s12 form-group">
					          <i class="fa fa-lock"></i>
					          <input id="nuevaContrasenna2" name="nuevaContrasenna2" type="password" class="validate" v-model="nuevaContrasenna2" v-validate="{ rules: { regex: /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z\d]{8,}$/ , required: true} }"  > <!-- minimo un caracter lower, un caracter upper, y un digito, minimo 8 caracteresen total) -->
					          <span v-show="errors.has('nuevaContrasenna2')" class="help is-danger">{{ errors.first('nuevaContrasenna2') }}</span>
					          <label for="nuevaContrasenna2">Ingrese su nueva contraseña</label>
					        </article>
					      </section>
								<p class="alert"  v-if="fallaCambio" > {{msg}} </p>
					      <footer class="row">
				      		<a class="waves-effect waves-light btn btn-aceptar pull right" @click="validarAntesDeSubir"> <i class="material-icons left">done</i>Aceptar</a>
				      		<a class="waves-effect waves-light btn btn-cancelar pull left" @click="cancelar"> <i class="material-icons left">not_interested</i>Cancelar</a>
					      </footer>
					    </form>
						</main>
					</main>
				</section>
				<section>
				  <div id="modal1" class="modal modal-fixed-footer">
				    <div class="modal-content">
				      <h4 class="center-align">¡Cambio exitoso!</h4>
				    </div>
				    <div class="modal-footer">
				      <a href="/" class="modal-action modal-close waves-effect waves-green btn-flat">Regresar</a>
				    </div>
				  </div>
				  <div id="modalError" class="modal modal-fixed-footer">
				    <div class="modal-content">
				      <h4 class="center-align">¡Error en el formulario!</h4>
				      <p class="center-align"> uno o más campos del formulario contienen errores</p>
				    </div>
				    <div class="modal-footer">
				      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cerrar</a>
				    </div>
				  </div>
				</section>
			</main>
			<footer class="scriptZone">
				<% include partials/scripts %>
				<script src="https://cdn.jsdelivr.net/vee-validate/2.0.0-rc.3/vee-validate.min.js"></script>
				<script src="build/login/cambiarContrasenna.min.js"></script>
			</footer>
	</body>
</html>