<html>
<!DOCTYPE html>
<html>
	<head>
		<% include partials/login/loginHead %>
		<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
	</head>
	<body>
	  <div id="appLogin"> 	  
	    <form>
	      <div class="login-form">
	       <img src="images/nuevo_logo_procare.jpg" alt="logo espol" width="100%" heigth = "10%">
	       <div class="form-group ">
	       		<i class="fa fa-user"></i>
	         	<input type="email" class="form-control " placeholder="Correo " id="UserName" name="correo" v-model="correo">
	         
	       </div>
	       <div class="form-group log-status">
	       		<i class="fa fa-lock"></i>
	         	<input type="password" class="form-control " placeholder="Contraseña" id="Password" name="password" v-model="contrasenna">
	       </div>
	        <span class="alert" v-show="fallaLogin">¡Usuario o contraseña incorrecta!</span>
	        <a class="link" href="/perderContrasenna">¿Perdió su contraseña?</a>
	        <a class="btn waves-effect waves-light btn-cancelar" type="button" name="action"  @click="login"  >Entrar</a> 

	     </div>
	    </form>
	  </div>
	  
	<div class="scriptsZone">
		<% include partials/login/loginScripts %>
		<script src="/build/login/login.min.js"></script>
	</div>

	</body>
</html>

