<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
 		<link rel="stylesheet" type="text/css" href="/stylesheets/usuarios/verUsuariosStyles.css">
	</head>
	<body>
		<header>
			<% include ../partials/navbar %>
		</header>
		<main class="container row" id="main">
			<section class="col s12">
				<main class="card">
					<header class="card-content">
						<h4 class="titulo">Usuarios</h4>
					</header>
					<main id="section-resultados" class="card-content">
						<article id="article-resultados">
							<table class="tripped bordered responsive-table centered highlight" id="datatable" >
								<thead>
									<th>Nombres</th>
									<th>Apellidos</th>
									<th>Email</th>
									<th>Rol</th>
								</thead>
								<tbody>
									<tr v-for="usuario in listaUsuarios">
										<td>{{usuario.nombres}}</td>
										<td>{{usuario.apellidos}}</td>
										<td>{{usuario.email}}</td>
										<td>
											<div v-for="rol in usuario.Rols"><p> {{rol.nombre}}</p></div>
											<ul class='dropdown-content' id="dropDownRols">
												<div v-for="rol in usuario.Rols">
													<li><a href="#!">{{rol.nombre}}</a></li>	
													<li class="divider"></li>
												</div>
											</ul>
										</td>
									</tr>
								</tbody>
							</table>
						</article>
					</main>
				</main>
			</section>
		</main>
		<!-- Modal Structure -->
	  <section id="modalEditarUsuario" class="modal">
	    <main class="modal-content" id="modal-content">
	      <h4 class="center-align">Editar usuario</h4>
	      <p class="center-align">{{usuarioSeleccionado.nombres}} {{usuarioSeleccionado.apellidos}}</p>
	      <p class="center-align">{{usuarioSeleccionado.email}}</p>
	      <v-select id="select-rol" name="rol" v-model="usuarioSeleccionado.rolId" :items="roles">
	      </v-select>
	    </main>
	    <footer class="modal-footer">
	      <a href="#" class="modal-action modal-close waves-effect waves-green btn-flat" >Agree</a>
	    </footer>
	  </section>
	</body>
	<footer id="scripts">
		<% include ../partials/scripts %>
		<script src="/build/usuarios/verTodosScript.min.js"></script>
	</footer>
</html>


