body{
	background-color: #d3dbdb;
}

main{
	padding: 0 3%;
	margin: 3% 0;
}

.row{
	margin-top: 3%;
	background-color: white;
	padding: 2% 3%;
}

.card{
	padding: 5%;
}

#calendar{
	padding: 3%;
}

span{
	font-weight: bold;
}

.formacion{
	background-color: #3da553;
}

.accion{
	background-color: orange;
}

.fundacion{
	background-color: #7e65bc;
}

.completado{
	opacity: 0.5;
}

.rounded{
	border-radius: 3%;
}