@import url('./general.css');

#row-responsable{
	margin-top: 0;
}
#tareaApp{
	padding: 1% 3%;
}

form{
	padding: 1%;
}

#row-interior{
	padding-left: 0;
	padding-right: 0; 
}

.help{
	font-size: small;
	font-weight: normal;
	color: red;
}