<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/benefactor/style/paymentccs.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/benefactor/ingresarBenefactorStyles.css">
    <style type="text/css" media="screen">
      .ccs {
        margin-top: 15px;
        padding-right: 70px;
        font-size: 75px;
      }
    </style>
  </head>
  <body>
    <header>
      <% include ../partials/navbar %>
    </header>
    <main class="container" id="main">
      <section class="card">
        <header class="card-content">
          <h4 class="center-align titulo">Perfil</h4>
        </header>
        <main class="card-content">
          <form class="col s12" @submit.prevent="validateBeforeSubmit">
            <fieldset>
                <legend> Datos Personales: </legend>
                <!--Row nombres y apellidos-->
                <section class="row row-nombres-apellidos">
                  <article class="col s6">
                    <label>Nombres</label>
                    <p style="text-transform:uppercase">{{benefactor.nombres}}</p>
                  </article>
                  <article class="col s6">
                    <label>Apellidos</label>
                    <p style="text-transform:uppercase">{{benefactor.apellidos}}</p>
                  </article>
                </section>
                <!--Row genero y fecha nacimiento-->
                <section class="row row-genero">
                  <article class="col s6">
                    <label for="fecha-nacimiento">Fecha de nacimiento</label>
                    <p>{{date(benefactor.fechaNacimiento)}}</p>
                  </article>
                  <article class="col s6 text-darken-4">
                    <label>Género</label>
                    <p style="text-transform:uppercase">{{benefactor.genero}}</p>
                  </article>
                </section>
                <!--Row razon social-->
                <section class="row row-razon-social">
                  <article class="col s12">
                    <label for="razonSocial">Razón Social</label>
                    <p style="text-transform:uppercase">{{benefactor.razonSocial}}</p>
                  </article>
                </section>
                <section class="row row-cedula-email">
                  <article class="col s6">
                    <label for="cedula">Cédula/Ruc</label>
                    <p>{{benefactor.cedula}}</p>
                  </article>
                  <article class="col s6">
                    <label for="email">Email</label>
                    <p>{{benefactor.email}}</p>
                  </article>
                </section>
                <!--Row direccion y email-->
                <section class="row row-direccion-email">
                  <article class="col s12">
                    <label for="direccion">Dirección</label>
                    <p style="text-transform:uppercase">{{benefactor.direccion}}</p>
                  </article>
                </section>
                <!--Row celular y convencional-->
                <section class="row row-celular-convencional">
                  <article class="col s6">
                    <label for="celular">Telf. Celular</label>
                    <p>{{benefactor.celular}}</p>
                  </article>
                  <article class="col s6">
                    <label for="convencional">Telf. Convencional</label>
                    <p>{{benefactor.convencional}}</p>
                  </article>
                </section>
            </fieldset>
            <fieldset>
              <legend>Datos Benefactor:</legend>
              <!--Row valor Contribucion y dia-->
              <section class="row row-contribucion-dia">
                <article class="col s6 m4">
                  <label>Contribución $</label>
                  <p>{{benefactor.valorContribucion}}</p>
                </article>
                <article class="col s6 m4">
                  <label>Día de cobro</label>
                  <p>{{benefactor.diaCobro}}</p>
                </article>
                <article class="col s6 m4">
                  <label>Tipo Donación</label>
                  <p style="text-transform:uppercase">{{benefactor.tipoDonacion}}</p>
                </article>
              </section>
              <!--Row valor Tarjeta de Credito-->
              <section class="row row-Tarjeta-Credito">
                <article class="col s8 m3 l3">
                  <label for="tarjetaCredito">Tarjeta Crédito</label>
                  <p>{{benefactor.tarjetaCredito}}</p>
                </article>
                <article class="col s4 m3 l1">
                  <!--<i :class="validarIconoTarjeta(benefactor.tarjetaCredito)"><span></span></i>-->
                </article>
                <article class="col s12 m3 l4">
                  <label for="nombreGestor">Nombre de gestor</label>
                  <p style="text-transform:uppercase">{{benefactor.nombreGestor}}</p>
                </article>
                <article class="col s12 m3 l4">
                  <label for="relacion">Relación</label>
                  <p style="text-transform:uppercase">{{benefactor.relacion}}</p>
                </article>
              </section>
              <!--row TextArea Observacion-->
              <section class="row row-textarea-observacion">
                <article class="col s12">
                  <label>Observación</label>
                  <textarea>{{benefactor.observacion}}</textarea>
                </article>
              </section>
            </fieldset>
            <!--Botones-->
            <!--<footer class="row row-botones">
              <a class="btn waves-effect waves-light btn-cancelar" type="button" name="action" href="/benefactor/"><i class="material-icons left">clear</i>Cancelar<a>
              <a class="btn waves-effect waves-light pull right orange" type="submit" id="guardar" name="action"><i class="material-icons right">send</i>Crear<a>
            </footer>-->
          </form>
        </main>
      </section>
      <!-- Modal Structure -->
      <section id="modalBenfactorCreado" class="modal">
        <main class="modal-content">
          <p class="center-align modal-text">Benefactor creado correctamente.</p>
        </main>
        <footer class="modal-footer">
          <a href="/benefactor/" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
        </footer>
      </section>
      <!-- Modal Structure -->
      <section id="modalBenfactorEditar" class="modal">
        <main class="modal-content">
          <p class="center-align modal-text">Benefactor Fue Actualizado correctamente.</p>
        </main>
        <footer class="modal-footer">
          <a href="/benefactor/" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
        </footer>
      </section>
      <!-- Modal Structure -->
      <section id="modalError" class="modal">
        <main class="modal-content">
          <h4 class="center-align">Formulario con errores.</h4>
          <p class="center-align">Existe un error del campo: "{{errorObj.campo}}"</p>
          <p class="center-align">Con el siguiente mensaje de error: </p>
          <p class="center-align">"{{errorObj.msj}}"</p>
        </main>
        <footer class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
        </footer>
      </section>
      <!-- Modal Structure -->
      <section id="modalErrorAjax" class="modal">
        <main class="modal-content">
          <h4 class="center-align">{{errorAjax.titulo}}.</h4>
          <p class="center-align">"{{errorAjax.descripcion}}"</p>
        </main>
        <footer class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Aceptar</a>
        </footer>
      </section>
    </main>
    <footer>
      <% include ../partials/scripts %>
      <script src="/scripts/moment/moment.js"></script>
      <script src="/scripts/moment/locale/es.js"></script>
      <script src="/scripts/vee-validate/dist/vee-validate.min.js"></script>
      <script src="/build/benefactor/benefactorPerfil.min.js"></script>
      <Script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js">
      </script>
    </footer>
  </body>
</html>