<!DOCTYPE html>
<html>
	<head>
		<title>Procare</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--Materializecs-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
	</head>
	<body>






		<div>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<!-- Compiled and minified JavaScript -->
			<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
			<script src='https://unpkg.com/vue@2.3.3'></script>
			<!--<script src='/bower_components/vee-validate/dist/vee-validate.min.js'></script>-->
			<script src="https://cdn.jsdelivr.net/vee-validate/2.0.0-rc.3/vee-validate.min.js"></script>
			<script src="/build/benefactor/BenefactorScript.js"></script>
			<Script src = "https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"> </script>
		</div>
	</body>
</html>