<!DOCTYPE html>
<html>
  <head>
       <% include ../partials/head %>
       <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/benefactor/benefactorStyles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/benefactor/ingresarBenefactorStyles.css">
  </head>
  <body>
    <div id="main">
       <header>
                <% include ../partials/navbar %>
            </header>
    <main class="container">
      <!--
      <div class="input-field col s6">
        <input type="text" name="busqueda" value="">
        <label for="Buscar">Buscar Benefactor: </label>
        
      </div>
      
      -->
      
      
      <h2 id="titulo" class="center-align titulo">Benefactores</h2>
      <div class="row">
        
      </div>
      
      <div class="row row-botones">
        
          <a href="/benefactor/nuevo" class="waves-effect waves-light btn orange darken-1">Nuevo</a>
        
      </div>
      <!-- navegacion de  botones y toda la paginacion
      <nav class="pagination m-pagination">
        <a class="button" v-on:click="selectPage(this.pagination.currentPage-1)" v-bind:class="{'is-disabled': this.pagination.currentPage==this.pagination.items[0] || this.pagination.items.length==0}">Previous</a>
        <a class="button" v-on:click="selectPage(this.pagination.currentPage+1)" v-bind:class="{'is-disabled': this.pagination.currentPage==this.pagination.items[this.pagination.items.length-1] || this.pagination.items.length==0}">Next page</a>
        <ul>
          <li>
            <a class="button" v-on:click="selectPage(pagination.items[0])" v-bind:class="{'is-disabled': this.pagination.currentPage==this.pagination.items[0] || this.pagination.items.length==0}">
              First
            </a>
          </li>
          <li class="is-space"></li>
          <li v-for="item in pagination.filteredItems">
            <a class="button" v-on:click="selectPage(item)" v-bind:class="{'is-info': item == pagination.currentPage}">{{item | numeral}}</a>
          </li>
          <li class="is-space"></li>
          <li>
            <a class="button" v-on:click="selectPage(pagination.items[pagination.items.length-1])" v-bind:class="{'is-disabled': this.pagination.currentPage==this.pagination.items[this.pagination.items.length-1] || this.pagination.items.length==0}">
              Last
            </a>
          </li>
        </ul>
      </nav>-->
      <!-- tabla de contenido -->
      
      <div class="m-table">
        <table class="bordered">
          <thead class="light-blue darken-4">
            <tr class="white-text">
              <th>Razon Social</th>
              <th>Cedula / Ruc</th>
              <th>tipo Donacion</th>
              <th>Dia de Cobro</th>
              <th>Contribucion</th>
              <th> opciones </th>
            </tr>
          </thead>
          <tr v-for="item in arregloBenefactor">
            <td @click="irAPerfil(item)">{{item.razonsocial}}</td>
            <td>{{item.cedula}}</td>
            <td>{{item.tipo_donacion}}</td>
            <td style="text-align:center;">{{item.dia_cobro}}</td>
            <td style="text-align:center;"> $ {{item.valor_contribucion}}</td>
            <td><button @click="irAPerfil(item)"><i class="material-icons blue-text darken-1">edit</i></button>
             <button> <i class="material-icons  red-text darken-4">delete</i></button>
            </td>
          </tr>
        </table>
      </div>
    </main>
  </div>
  <div>
    
      <% include ../partials/scripts %>
        <script src="/scripts/moment/moment.js"></script>
        <script src="/scripts/moment/locale/es.js"></script>
        <script src="/scripts/vee-validate/dist/vee-validate.min.js"></script>
    <script src="/build/benefactor/verBenefactor.min.js"></script>
    <Script src="https://cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js">
    </script>
  </div>
</body>
</html>