@import url('https://fonts.googleapis.com/css?family=Merriweather:700');
@import url('./../general.css' );

li:hover{
	background-color: #d3dbdb;
}

li{
	/*border: 1px solid red;*/
	padding: 3%;
	/*border-bottom: 1px solid #d3dbdb;*/
}

#col-sin-grupo, #col-con-grupo{
	padding: 2% 0;
}