

body{
	background-color: #d3dbdb;
}

.card{
	margin-top: 5%;
	padding: 3%;
	border-radius: 2%;
	height: auto !important;
}

li:hover{
	background-color: #d3dbdb;
}

li{
	/*border: 1px solid red;*/
	padding: 3%;
	/*border-bottom: 1px solid #d3dbdb;*/
}

.row{
	padding: 0 3%;
}

#listaChicos, #chicosSinGrupo, #integrantes{
	height: 250px;
	overflow:hidden;
	overflow-y: scroll;
}

.s6 h6{
	margin-top: 10%;
}

h5{
	font-weight: bold;
}