<!DOCTYPE html>
<html>
  <head>
    <title>Procare</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/scripts/materialize-css/dist/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/general.css">
  </head>
  <body>
    <main class="container">
      <section class="row">
        <article class="col s12">
          <main class="card">
            <header class="card-content">
              <h2 class="center-align"><b>Usuario no autorizado</b></h2>
            </header>
          </main>
        </article>
      </section>
    </main>
  </body>
  <footer>
    <script type="text/javascript" src="/scripts/jquery/dist/jquery.min.js"></script>
    <script src="/scripts/materialize-css/dist/js/materialize.min.js"></script>
  </footer>
</html>