<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
		<link rel="stylesheet" type="text/css" href="/stylesheets/asistencias/subirAsistenciasStyles.css">
	</head>
	<body>
		<header>
			<% include ../partials/navbar %>
		</header>
		<main class="container" id="asistenciasApp">
			<v-row class="row" id="rowBusqueda">
				<article class="col s4">
					<v-select name="genero" id="genero" select-text="Género" v-model="generoSel">
						<option value="Procare">Procare</option>
						<option value="Procare Mujeres">Procare Mujeres</option>
					</v-select>
				</article>
				<article class="col s4">
					<v-select name="selectGrupos" id="selectGrupos" :items="grupos" select-text="Grupo">
					</v-select>
				</article>
				<article class="col s4">
					<input type="text" name="fechaAsistencia" id="fechaAsistencia" class="datepicker" placeholder="fecha de asistencia">
				</article>
			</v-row>
			<v-row class="row" id="rowResultados">
					<article class="col s7" id="colChicos">
						<header>
							<h5 class="center-align">Lista de integrantes</h5>
						</header>
						<main id="listaChicos">
							<hr>
							<section class="row row-li" v-for="chico in chicos">
								
								<article class="col s6 l8 col-nombre valign-wrapper">
									<p class="nombre">{{chico.nombre}}</p>
								</article>
								
								<article class="col s6 l4 col-radio valign-wrapper">
									<p class="radio">
										<input type="radio" v-bind:name="'asistencia-'+chico.id" v-bind:id="'asist-'+chico.id" class="with-gap">
										<label v-bind:for="'asist-'+chico.id">A</label>
									</p>
									<p class="radio">
										<input type="radio" v-bind:name="'asistencia-'+chico.id" v-bind:id="'falta-'+chico.id" class="with-gap">
										<label v-bind:for="'falta-'+chico.id">F</label>
									</p>
									<p class="radio">
										<input type="radio" v-bind:name="'asistencia-'+chico.id" v-bind:id="'fj-'+chico.id" class="with-gap">
										<label v-bind:for="'fj-'+chico.id">FJ</label>
									</p>
								</article>
								<hr>
							</section>
						</main>
					</article>
					<article class="col s5" id="colGrupo">
						<header>
							<h5 class="center-align">Grupo</h5>
						</header>
						<main id="grupo">
							<h6 class="center-align">{{grupoSel.nombre}}</h6>
							<p>Total de chicos: {{grupoSel.cantidadChicos}}</p>
							<p>Asistieron: {{totalAsistieron}}</p>
							<p>Faltaron: {{totalFaltas}}</p>
							<p>Justificaron: {{totalJustificados}}</p>
						</main>
					</article>
			</v-row>
			<v-row id="rowBotones">
				<a class="btn waves-effect waves-light pull right" type="submit" name="action" @click="subirAsistencias" >Subir asistencias<a>
			</v-row>
			

		</main>
		<div id="modals">
			<!-- Modal día incorrecto Structure -->
		  <div id="modalDia" class="modal">
		    <div class="modal-content">
		      <p class="center-align">El grupo seleccionado no se reúne ese día</p>
		    </div>
		    <div class="modal-footer">
		      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
		    </div>
		  </div>
		  <!-- Modal Confirmación Structure -->
		  <div id="modalConfirmacion" class="modal">
		    <div class="modal-content">
		      <p class="center-align">Las asistencias han sido subidas</p>
		    </div>
		    <div class="modal-footer">
		      <a href="/asistencias/formacion" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
		    </div>
		  </div>
		  <!-- Modal Error Structure -->
			<div id="modalError" class="modal">
				<div class="modal-content">
					<p class="center-align">Debe marcar las asistencias de todos los chicos</p>
				</div>
				<div class="modal-footer">
					<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
				</div>
			</div>
		</div>
	</body>
	<footer>
		<% include ../partials/scripts %>
		<script src='/build/asistencias/subirAsistenciasScript.min.js'></script>
	</footer>
</html>
