<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/head %>
		<link rel="stylesheet" type="text/css" href="/stylesheets/grupo/buscarGrupoStyles.css">
	</head>
	<body>
		<div>
			<header>
				<% include ../partials/navbar %>
			</header>
			<main class="container" id="BuscarGrupoApp">
				<header>
					<h4 class="center-align titulo">Grupos</h4>
				</header>
				<section id="section-resultados" class="card large">
					<article class="row" id="row-resultados">
						<table class="stripped bordered responsive-table centered highlight">
							<thead>
								<th>Nombre</th>
								<th>Tipo</th>
								<th>Etapa</th>
								<th>Género</th>
							</thead>
							<tbody>
								<tr v-for="grupo in grupos" @click="irAGrupo(grupo)">
									<td>{{grupo.nombre}}</td>
									<td>{{grupo.tipo}}</td>
									<td>{{grupo.etapaNombre}}</td>
									<td>{{grupo.genero}}</td>
								</tr>
							</tbody>
						</table>
					</article>
				</section>
			</main>
		</div>
	</body>
	<div>
		<% include ../partials/scripts %>
		<script src='/build/grupo/buscarGrupoScript.min.js'></script>
	</div>
</html>