<!DOCTYPE html>
<html>
	<head>
		<title>Procare</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--Materializecss-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/grupo/grupoStyles.css">
	</head>
	<body>
		<div id="app">
			<header>
				<navbar></navbar>	
			</header>
			<main class="container">
				<div class="card large">
					<div class="row">
						<h3 class="center-align titulo">Creación de grupo de Procare Formación</h3>
					</div>
					<crear-grupo-1 v-if="flag" :flag="flag" @flagchanged="flag = $event" @nombrechanged="grupo.nombre = $event" @animadorchanged="grupo.animador = $event"></crear-grupo-1>
					<escoger-chicos v-if="!flag" :grupo="grupo"></escoger-chicos>
				</div>
			</main>
		</div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<script src='https://unpkg.com/vue@2.3.3'></script>
	<script src='/build/grupo/crearGrupoScript.js'></script>
</html>