<!DOCTYPE html>
<html>
	<head>
		<title>Procare</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!--Materializecss-->
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Compiled and minified CSS -->
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/grupo/verGrupoStyles.css">
	</head>
	<body>
		<div id="verGrupoApp">
			<header>
				<navbar></navbar>
			</header>
			<main class="container">
				<section class="card large" v-if="editar === false">
					<section class="row">
						<header class="headerNombreGrupo">
							<h3 class="center-align">{{grupo.nombre}}</h3>
							<p class="center-align">Etapa actual: {{etapa.text}}</p>	
						</header>
						<article class="col s4 center-align">
							<h5 class="center-align">Animador</h5>
							<img src="http://via.placeholder.com/150x150" class="responsive-img ">
							<p class="center-align">{{animador.nombres}}</p>
						</article>
						<article>
							<header>
								<h5 class="center-align">Lista de chicos</h5>
							</header>
							<main>
								<ul id="listaChicos">
									<li v-for="chico in integrantes" @click="seleccionChico(chico)" :id="chico.idProcariano"> <i class="material-icons">person</i><p>{{chico.nombre}} {{chico.apellidos}}</p></li>
								</ul>
							</main>
						</article>
					</section>
					<div class="row" v-if="puedeEditar" id="row-btns">
						<a class="waves-effect waves-light btn" href="#modalEliminarGrupo">Eliminar</a>
						<a class="waves-effect waves-light btn pull right" @click="habilitarEditar">Editar</a>
					</div>
				</section>
				<section class="card large" v-if="editar === true">
					<editar-grupo :grupo="grupo" :integrantes="integrantes" @edicionterminada="editar = $event"></editar-grupo>
				</section>
			</main>
			<!-- Modal Structure -->
		  <div id="modalEliminarGrupo" class="modal">
		    <div class="modal-content">
		      <p class="center-align">¿Seguro que desea eliminar este grupo?</p>
		    </div>
		    <div class="modal-footer">
		      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" @click="eliminarGrupo">Si</a>
		      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
		    </div>
		  </div>
		</div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
	<script src='https://unpkg.com/vue@2.3.3'></script>
	<script src='/build/grupo/verGrupoScript.js'></script>
</html>