@import url('https://fonts.googleapis.com/css?family=Merriweather:700');


.container{
	margin-top: 5%;
}
.btn-cancelar, .btn-cancelar:hover{
	background-color: #F04F5A;
}

#row-form{
	padding: 3%;
	/*border: 1px solid black;*/
	background-color: white;
	border-radius: 2%;
}

hr {
  height: 1px;
  background-color: orange;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.modal-text{

	color: black;
}

.modal{
	width: 25%;
}

.is-danger{
	border-color: red !important;
	color: red;
}

.titulo{
	font-family: 'Merriweather', serif;
	font-size: 3rem;
}
/*Navbar*/
li a{
	padding: 0 16px !important;
}
#ulProcareAccion li a, #ulProcareFormacion li a{
	padding: 0 15% !important;
}

