@import url('https://fonts.googleapis.com/css?family=Merriweather:700');
@import url('./../general.css' )


#row-form{
	padding: 3%;
}

hr {
  height: 1px;
  background-color: orange;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.modal-text{

	color: black;
}

.modal{
	width: 25%;
}

.is-danger{
	border-color: red !important;
	color: red;
}

/*Navbar*/
li a{
	padding: 0 16px !important;
}
#ulProcareAccion li a, #ulProcareFormacion li a{
	padding: 0 15% !important;
}
