@import url('https://fonts.googleapis.com/css?family=Merriweather:700');
@import url('./../general.css' )



.row-botones{
	margin-top: 4%;
}

.tag{
	font-weight: bold;
}

#rowVerNombres{
	margin-top: 3%;
}

label, h4{
	font-family: 'Merriweather', serif;
}

.card header{
	background-color: rgba(184, 188, 196, 0.2)
}

.card header img{
	height: 150px;
	width: 150px;
}

h4{
	font-family: 'Merriweather', serif;
  color: #21378A;
}
