@import url('https://fonts.googleapis.com/css?family=Merriweather:700');

.container{
	margin-top: 5%;
}

.card{
	border-radius: 2%;
	padding: 2%;
}

.row-botones{
	margin-top: 3%;
}

.tag{
	font-weight: bold;
}

#rowVerNombres{
	margin-top: 3%;
}

label, h4{
	font-family: 'Merriweather', serif;
}