@import url('https://fonts.googleapis.com/css?family=Merriweather:700');

*{
	/*border: 1px solid black;*/
}

.container{
	margin-top: 5%;
	margin-bottom: : 5%;
	/*border: 1px solid black;*/
	padding: 3%;
	background-color: white;
	border-radius: 2%;
}
body{
	background-color: #d3dbdb;
}
#rowBusqueda, #rowResultados{
	/*border: 1px solid red;*/
	padding: 2%;
	display: table;
	width: 100%;
}

#colChicos, #colGrupo, #col-ninos, #col-paralelo{
	/*border: 1px solid blue;*/
	display: table-cell;
}

.radio{
	display: inline;
	margin-right: 3%;
}

.col-nombre, .col-radio{
	/*border: 1px solid green;*/
}
.row-li{
	/*border: 1px solid brown;*/
	padding: 0 3%;
	margin-bottom: 0;
}

#listaChicos, #lista-ninos{
	height: 250px;
	overflow:hidden;
	overflow-y: scroll;
}

h5{
	font-family: 'Merriweather', serif;
}